<th:block th:replace="~{fragments/fragments :: thymeleaf}" />
<body>
    <nav th:replace="~{fragments/fragments :: navbar}" />
    <main class="container">
        <h1 class="mb-2">Benvenuto alla mia pizzeria!</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis sit recusandae rerum maxime incidunt officiis, quibusdam quisquam corrupti obcaecati at nam. Perferendis consectetur cum asperiores autem maiores nemo, repudiandae pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, natus nostrum atque iure rem provident fugit repellendus porro enim similique quas accusamus necessitatibus tenetur dicta sit nam quam. Corrupti, labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil perferendis ipsum suscipit deserunt obcaecati aperiam provident repellat, libero ipsam illo doloremque quos quo eos asperiores modi similique nam facilis voluptatem?</p>
    </main>
</body>
</html>