<th:block th:replace="~{fragments/fragments :: thymeleaf}" />

<body>
    <nav th:replace="~{fragments/fragments :: navbar}" />
    <main class="container mb-4">
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="mb-3">[[${pizza.name}]]</h1>
            <a th:href="@{/pizzas/edit/{id}(id=${pizza.id})}" class="btn btn-primary">Modifica</a>
        </div>
        <div class="d-flex gap-3">
            <figure class="w-25 border-end border-dark p-3">
                <img class="w-100" th:src="${pizza.imageUrl}" th:alt="${pizza.name}">
            </figure>
            <div>
                <h3>Descrizione: </h3>
                <p>[[${pizza.description}]]</p>
                <h4>Il prezzo è: [[${pizza.price}]]€</h4>
                <a class="btn btn-primary my-2" th:href="@{/pizzas}">Torna alle pizze</a>
            </div>
        </div>
    </main>

    <th:block th:replace="~{fragments/fragments :: footer}" />
</body>

</html>